body {
	background: url("../images/background.jpg");
	/*background-size: cover;*/
}

#navbar {
	border-bottom: 1px solid white;
	/*position: fixed;*/
	width:100%;
	background-color: black;
	opacity: 0.9;
	margin-bottom: 30px;
}

.mainheading {
	font-family: Trebuchet MS;
	
}


/*.navbar-header {
	width: 100%;
	position: fixed;
	height:170px;
	top: 0;
  	left: 0;
  	z-index: 999;
  	margin-bottom: 50px;
}*/

#navpills {
	font-size: 18px;

}
.page-scroll {
	 color: white !important;
}


#logo {
	padding-top: .5em;
	text-shadow:#fff 1px 3px 0, #000 0 -1px 0;
	font-size: 72px;
	letter-spacing: -2px;
	color: white;
	text-shadow:
	    3px 3px 0 #000,
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	   -1px  1px 0 #000,
	    1px  1px 0 #000;
}

#tmtgoals {
	letter-spacing: -1px;
	margin: 1em;
	padding:10px;
	color:white;
	border: 1px solid white;
	font-size: 20px;	
	text-align: center;
	text-shadow:
	    3px 3px 0 #000,
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	   -1px  1px 0 #000,
	    1px  1px 0 #000;
}
#tmt {
	color: white;
	margin-bottom: 20px;
	font-size: 17px;
}

#button1 {
	
	background-color: transparent; !important;
	border: solid white 3px;
	background-color: black;
	opacity: 0.7;
	padding: 20px;
	padding-top: 33px;
	width: 250px;
	height: 100px;
	font-size: 20px;
	margin:0 auto;
    display:block;
}

#button1:hover {
	background-color: turquoise;
	font-weight: bolder;
	text-shadow:
	    3px 3px 0 #000,
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	   -1px  1px 0 #000,
	    1px  1px 0 #000;
}

#button2 {
	
	background-color: transparent; !important;		
	border: solid white 3px;
	background-color: black;
	opacity: 0.7;
	padding: 20px;
	padding-top: 33px;
	width: 250px;
	height: 100px;
	font-size: 20px;
	margin:0 auto;
    display:block;
    margin-bottom:50px;
   

}

#button2:hover {
	background-color: turquoise;
	font-weight: bolder;
	text-shadow:
	    3px 3px 0 #000,
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	   -1px  1px 0 #000,
	    1px  1px 0 #000;
}

/*NAV BAR*/

/*#navbar {
	color: white;
	font-size: 15px;
	background-color: black;
	opacity: 0.9;
	width:100%;
    padding:0;
    position:fixed;
    top:0;
    z-index:99;
	height: 3em;
	padding-bottom: 1em;
	border:solid white 1px;
	border-radius: 10px;
	
}*/

/*#navpills {
	font-family: Courier New;
	font-weight: bold;
	font-color: white;
}*/

/*ABOUT US */

.aboutUsSection {
	color: white;
	padding-top: 4em;
	padding-left: 20px;
	padding-right: 20px;
	background-color: black;
	opacity: 0.6;
}

#aboutme {
	text-shadow:
	    3px 3px 0 #000,
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	   -1px  1px 0 #000,
	    1px  1px 0 #000;
}

.aboutUsheadings {
	text-shadow:
	    3px 3px 0 #000,
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	   -1px  1px 0 #000,
	    1px  1px 0 #000;
}

#mePic {
	height: 9em;
	width: 9em;
	opacity: 1.0 !important;
	float: left;
	margin-right: 10px;
	/*margin-left: 10px;*/
}

.meAbout {
	/*margin-left: 10px;*/
	overflow: hidden;
}


.listSuccess {
	color: white;
	padding-top: 4em;
	/*background-image: url("../images/background.jpg");*/
	padding-left: 20px;
	padding-right: 20px;
}

/*LIST ITEM*/

.listingform {
	/*background-image: url("../images/background.jpg");*/
	background-size: 100% auto;
	color: white;

}

#listingtitle {
	margin:0 auto;
}

#listyouritem {
	margin-top: 60px;
	text-shadow:
	    3px 3px 0 #000,
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	   -1px  1px 0 #000,
	    1px  1px 0 #000;
}

#aboutyou {
	margin-bottom: 20px;
	text-shadow:
	    3px 3px 0 #000,
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	   -1px  1px 0 #000,
	    1px  1px 0 #000;
}

#aboutitem {
	margin-top: 30px;
	margin-bottom: 20px;
}

#listitem {
	padding-top: 60px;
	margin: 0 auto;
	text-shadow:
	    3px 3px 0 #000,
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	   -1px  1px 0 #000,
	    1px  1px 0 #000;
}

#submitlistingbutton {
	width:200px;
	height: 50px;
	margin-bottom: 5em;
	margin-top: 2em;
	border: solid white 1px;
	background-color: grey;
	font-weight: bolder;
}

#submitlistingbutton:hover {
	background-color: turquoise;
	font-weight: bolder;
	text-shadow:
	    3px 3px 0 #000,
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	   -1px  1px 0 #000,
	    1px  1px 0 #000;
}

.form-group {
	font-weight: bolder;
	font-size: 15px;
}

#listform {
	padding-top: 40px;
	border:solid white 1px;
	line-height: 30px;
}

/*FIND THINGS MAP*/

#map-canvas {
        width: 500px;
        height: 400px;
        background-color: #CCC;
      }

.googlemap {
	padding-top: 100px;
	width:80%;
	height: 400px;
	margin: 0 auto;
}

/*FINDTHINGSLISTCOMP*/

#listbutton {
	margin-top: 20px;
}

#renderlistings {
	color: white;
	margin-bottom: 30px;
	/*margin-top: 50px;*/
}

#listingbox {
	border: 3px solid white;
	margin: 0 auto;
	padding-left: 40px;
	padding-right: 40px;

}
#listingtitle {
	/*margin: 0 auto;*/
	padding-top: 10px;
	font-size: 26px;
	/*margin: 0 auto;*/
}

#itemdetailbutton {
	
	float: right;
	margin-bottom: 10px;
	background-color: black;
	border:1px solid white;
	border-radius: 50px;
	padding:10px;
	/*margin-right:40px;*/
	color: white;
	height: 50px;
	width:140px;
	font-size: 18px;
}

#itemdetailbutton:hover {
	background-color: turquoise;
	font-weight: bolder;
	text-shadow:
	    3px 3px 0 #000,
	   -1px -1px 0 #000,  
	    1px -1px 0 #000,
	   -1px  1px 0 #000,
	    1px  1px 0 #000;
}

#createdat {
	float:right;
	font-size: 14px;
}

#listingimage {
	width:160px;
	height: 200px;
	margin-bottom: 20px;
	position: relative;

}

#username {
	float: right;
	font-size: 15px;
}

#listingzip {
	float: right;
	/*position: relative;*/
	margin-top: 14px;
	/*margin-right: 40px;*/
	font-size: 15px;
	
}

#descrip {
	clear: both;
}

/*ITEM DETAIL*/

#renderlistingdetail {
	color: white;
	margin-top: 50px;

}

#giverinfo {
	float: right;
	margin-bottom: 10px;
	background-color: black;
	border:1px solid white;
	border-radius: 50px;
	padding:10px;
	margin-right:40px;
	color: white;
}

#userdetail {
	color: white;
}


/*LIST SUCCESS*/

#listsuccess {
	color:white;
	margin-top: 160px;
	border: 3px solid white;
	border-radius: 30px;
	background-color: grey;
	opacity: .8;
	padding-right: 40px;
	padding-left: 40px;

}

/*ITEM DETAIL COMPONENT*/

#listingdetailbox {
	border: solid white 3px;
	border-radius: 50px;
	padding-left: 50px;
	padding-right: 50px;
	/*margin: 5px;*/
}



#listingheading {
	/*margin-left: 10px;*/
	margin-bottom: 10px;
}

#itemtitle {
	text-align: center;
	font-size: 22px;
	border-bottom: 1px solid white;
	padding-bottom: 10px;
}

#username {
	float: left;
}

#listphoto {
	float: right;
	width:200px;
	height: 240px;
}

#itemcond {
	float: right;
}

#itemdescription {
	float:right;
}

